



imageio==2.35.1

ipykernel==6.29.4
ipython==8.12.3

jsonpatch==1.33
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1



matplotlib==3.7.5
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1

numpy==1.24.4

oauthlib==3.2.2
onnxruntime==1.19.2
openai==0.28.1




pdfplumber==0.11.0

plotly==6.1.2
polib==1.2.0

streamlit==1.40.1
streamlit-option-menu==0.4.0

